.scroll-handler__container {
  z-index: 100;
  position: fixed !important;
  height: 6rem !important;
  border-radius: 50%;
  aspect-ratio: 1;
  bottom: 5%;
  left: 50%;
  translate: -50% 0;
  cursor: pointer;
  @include flex-center;
  @include padding('md');
  animation: pulse 2s infinite;

  & path {
    fill: $text-primary
  }
}