*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $body-font-family;
  line-height: 1.6;
  // background-image: $base-gradient-background;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $text-primary;
  font-size: $p;
}

img,
svg {
  display: block;
  max-width: 100%;
}
