.sb-experience {
  &__content {
    @include flex;
    @include gap('sm');
    & > div {
      background-color: $secondary-background-2;
      @include border-radius('xs');
      @include flex;
      @include padding('md');
    }
    
    &__icon {
      align-self: flex-start;
      & svg {
        width: 3em;
        aspect-ratio: 1;
        
        & > path {
          fill: $rently-orange;
        }
      }
    }
  }
}