.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 700vh;
  object-fit: cover;
  object-position: center;
  filter: blur(.02em);
  @include box-shadow('xxxl');
}