.pills__container {
  display: flex;
  flex-wrap: wrap;
  @include gap('md');
}

.pills__item {
  display: inline-block;
  background: $secondary-background;
  color: $text-secondary;
  font-size: $p;
  @include padding-block('xxxs');
  @include padding-inline('md');
  @include border-radius('xxs');
}