.sb-base-layout {
  position: relative;

  & > div {
    height: 100vh;
    position: relative;
  }
}

.scroll-top-icon {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 100;
  color: $accent-violet;
  // padding: 1em;
  position: fixed !important;
  height: 6rem !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 5em;
  aspect-ratio: 1;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  padding: 1em;
}

.mountain-svg {
  position: absolute;
  max-width: 100%;
  bottom: -5rem;
  left: 0;
  background-image: linear-gradient(
    transparent 75%, 
    $accent-violet 75%, 
    $accent-violet
  );
  // box-shadow: 0 5rem 15rem rgba($color: $accent-violet, $alpha: 1.0);
  // z-index: -1;
}

.boy-svg {
  position: absolute;
  max-width: 100%;
  bottom: 2rem;
  right: 20rem;
  background-image: linear-gradient(
    transparent 75%, 
    $accent-violet 75%, 
    $accent-violet
  );
  // z-index: -1;
}

.grass-svg {
  position: absolute;
  max-width: 100%;
  bottom: -5rem;
  left: 0;
  background-image: linear-gradient(
    transparent 75%, 
    $accent-violet 75%, 
    $accent-violet
  );
  // z-index: -1;
}

.mountain-svg, .boy-svg, .grass-svg {
  display: none;
}

@include tablet {
  .mountain-svg, .boy-svg, .grass-svg {
    display: initial;
  }
}