.sb-base-layout {
  position: relative;

  & > div {
    height: 100vh;
    position: relative;
  }
}

.scroll-top-icon {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 100;
  color: $accent-violet;
  position: fixed !important;
  height: 6rem !important;
  border-radius: 50%;
  aspect-ratio: 1;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  @include flex-center;
  @include padding('md')
}

.hero-content__images {

  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
    filter: blur(.02em);
    box-shadow: 0 5em 10em rgba($color: #000, $alpha: 0.5);
  }
}